	<!-- Left Panel -->
<aside id="left-panel" class="left-panel">
	<nav class="navbar navbar-expand-sm navbar-default">
		<div class="navbar-header">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
				<i class="fa fa-bars"></i>
			</button>
			<h4 style="color:azure">Admin Paneli</h4>
			<a class="navbar-brand hidden" href="./"><img src="~/Admin_Paneli/images/logo2.png" alt="Logo"></a>
		</div>
		<div id="main-menu" class="main-menu collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<h3 class="menu-title">UI elements</h3><!-- /.menu-title -->
				<li class="menu-item-has-children dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Hotels</a>
					<ul class="sub-menu children dropdown-menu">

						<li> @Html.ActionLink("Add Hotels", "Create", "Hotels")</li>
						<li> @Html.ActionLink("Delete Hotels", "Delete", "Hotels")</li>
						<li> @Html.ActionLink("Edit Hotels", "Edit", "Hotels")</li>
						<li> @Html.ActionLink("List Hotels", "Index", "Hotels")</li>

					</ul>
				</li>
				@*********************************************************************************************** *@
				<li class="menu-item-has-children dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Cities</a>
					<ul class="sub-menu children dropdown-menu">

						<li> @Html.ActionLink("Add Cities", "Create", "Cities")</li>
						<li> @Html.ActionLink("Delete Cities", "Delete", "Cities")</li>
						<li> @Html.ActionLink("Edit Cities", "Edit", "Cities")</li>
						<li> @Html.ActionLink("List Cities", "Index", "Cities")</li>

					</ul>
				</li>
				@*********************************************************************************************** *@
				<li class="menu-item-has-children dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Rooms</a>
					<ul class="sub-menu children dropdown-menu">

						<li> @Html.ActionLink("Add Rooms", "Create", "Rooms")</li>
						<li> @Html.ActionLink("Delete Rooms", "Delete", "Rooms")</li>
						<li> @Html.ActionLink("Edit Rooms", "Edit", "Rooms")</li>
						<li> @Html.ActionLink("List Rooms", "Index", "Rooms")</li>

					</ul>
				</li>
				@*********************************************************************************************** *@
				<li class="menu-item-has-children dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Rezervations</a>
					<ul class="sub-menu children dropdown-menu">

						<li> @Html.ActionLink("Add Rezervations", "Create", "Rezervations")</li>
						<li> @Html.ActionLink("Delete Rezervations", "Delete", "Rezervations")</li>
						<li> @Html.ActionLink("Edit Rezervations", "Edit", "Rezervations")</li>
						<li> @Html.ActionLink("List Rezervations", "Index", "Rezervations")</li>

					</ul>
				</li>
				@*********************************************************************************************** *@
				<li class="menu-item-has-children dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Roles for users</a>
					<ul class="sub-menu children dropdown-menu">
						<li>@Html.ActionLink("Add role for users", "AddRole")</li>
					</ul>
				</li>
				<li class="menu-item-has-children dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Notifications</a>
					<ul class="sub-menu children dropdown-menu">
						<li>@Html.ActionLink("Add notifications", "AddRole")</li>
					</ul>
				</li>



				<h3 class="menu-title">Extras</h3><!-- /.menu-title -->
				<li class="menu-item-has-children dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-glass"></i>Pages</a>
					<ul class="sub-menu children dropdown-menu">
						<li><i class="menu-icon fa fa-sign-in"></i><a href="page-login.html">Login</a></li>
						<li><i class="menu-icon fa fa-sign-in"></i><a href="page-register.html">Register</a></li>
						<li><i class="menu-icon fa fa-paper-plane"></i><a href="pages-forget.html">Forget Pass</a></li>
					</ul>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</nav>
</aside><!-- /#left-panel -->
<!-- Left Panel -->
<!-- Right Panel -->
<div id="right-panel" class="right-panel">
	<!-- Header-->
	<header id="header" class="header">
		<div class="header-menu">
			<div class="col-sm-7">
				<a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
				<div class="header-left">
					<button class="search-trigger"><i class="fa fa-search"></i></button>
					@* Search  *@
					<div class="form-inline">
						<form class="search-form">
							<input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
							<button class="search-close" type="submit"><i class="fa fa-close"></i></button>
						</form>
					</div>
					@* Notification *@
					<div class="dropdown for-notification">
						<button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fa fa-bell"></i>
							<span class="count bg-danger">5</span>
						</button>
						<div class="dropdown-menu" aria-labelledby="notification">
							<p class="red">You have 3 Notification</p>
							<a class="dropdown-item media bg-flat-color-1" href="#">
								<i class="fa fa-check"></i>
								<p>Server #1 overloaded.</p>
							</a>
							<a class="dropdown-item media bg-flat-color-4" href="#">
								<i class="fa fa-info"></i>
								<p>Server #2 overloaded.</p>
							</a>
							<a class="dropdown-item media bg-flat-color-5" href="#">
								<i class="fa fa-warning"></i>
								<p>Server #3 overloaded.</p>
							</a>
						</div>
					</div>
					@*  *@
					<div class="dropdown for-message">
						<button class="btn btn-secondary dropdown-toggle" type="button"
								id="message"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="ti-email"></i>
							<span class="count bg-primary">9</span>
						</button>
						<div class="dropdown-menu" aria-labelledby="message">
							<p class="red">You have 4 Mails</p>
							<a class="dropdown-item media bg-flat-color-1" href="#">
								<span class="photo media-left"><img alt="avatar" src="~/Admin_Paneli/images/avatar/1.jpg"></span>
								<span class="message media-body">
									<span class="name float-left">Jonathan Smith</span>
									<span class="time float-right">Just now</span>
									<p>Hello, this is an example msg</p>
								</span>
							</a>
							<a class="dropdown-item media bg-flat-color-4" href="#">
								<span class="photo media-left"><img alt="avatar" src="~/Admin_Paneli/images/avatar/2.jpg"></span>
								<span class="message media-body">
									<span class="name float-left">Jack Sanders</span>
									<span class="time float-right">5 minutes ago</span>
									<p>Lorem ipsum dolor sit amet, consectetur</p>
								</span>
							</a>
							<a class="dropdown-item media bg-flat-color-5" href="#">
								<span class="photo media-left"><img alt="avatar" src="~/Admin_Paneli/images/avatar/3.jpg"></span>
								<span class="message media-body">
									<span class="name float-left">Cheryl Wheeler</span>
									<span class="time float-right">10 minutes ago</span>
									<p>Hello, this is an example msg</p>
								</span>
							</a>
							<a class="dropdown-item media bg-flat-color-3" href="#">
								<span class="photo media-left"><img alt="avatar" src="~/Admin_Paneli/images/avatar/4.jpg"></span>
								<span class="message media-body">
									<span class="name float-left">Rachel Santos</span>
									<span class="time float-right">15 minutes ago</span>
									<p>Lorem ipsum dolor sit amet, consectetur</p>
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>
			@* Profile section *@
			<div class="col-sm-5">
				<div class="user-area dropdown float-right">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<img class="user-avatar rounded-circle" src="~/Admin_Paneli/images/admin.jpg" alt="User Avatar">
					</a>
					<div class="user-menu dropdown-menu">
						<a class="nav-link" href="#"><i class="fa fa-user"></i> My Profile</a>
						<a class="nav-link" href="#"><i class="fa fa-user"></i> Notifications <span class="count">13</span></a>
						<a class="nav-link" href="#"><i class="fa fa-cog"></i> Settings</a>
						<a class="nav-link" href="#"><i class="fa fa-power-off"></i> Logout</a>
					</div>
				</div>
				<div class="language-select dropdown" id="language-select">
					<a class="dropdown-toggle" href="#" data-toggle="dropdown" id="language" aria-haspopup="true" aria-expanded="true">
						<i class="flag-icon flag-icon-us"></i>
					</a>
					@* Language *@
					<div class="dropdown-menu" aria-labelledby="language">
						@* Turkish *@
						<div class="dropdown-item">
							<span class="flag-icon flag-icon-tr"></span>
						</div>
						@* English *@
						<div class="dropdown-item">
							<i class="flag-icon flag-icon-us"></i>
						</div>

					</div>
				</div>
			</div>
		</div>
	</header><!-- /header -->
	<!-- Header-->
	<div class="breadcrumbs">
		<div class="col-sm-4">
			<div class="page-header float-left">
				<div class="page-title">
					<h1>Admin Panel</h1>
				</div>
			</div>
		</div>
		<div class="col-sm-8">
			<div class="page-header float-right">
				<div class="page-title">
					<ol class="breadcrumb text-right">
						<li class="active">Admin Panel</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<div class="content mt-3">
		@* alert *@
		<div class="col-sm-12">
			<div class="alert  alert-success alert-dismissible fade show" role="alert">
				<span class="badge badge-pill badge-success">Success</span> You successfully read this important alert message.
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>


		<!--/.col-->

	</div>
	<!--/.col-->
