
	<!-- Header -->

	<header class="header d-flex flex-row justify-content-end align-items-center">

		<!-- Logo -->
		<div class="logo_container mr-auto">
			<div class="logo">
				<a href="/"><span>M</span>Macarena<span>.</span></a>
			</div>
		</div>

		<!-- Main Navigation -->
		<nav class="main_nav justify-self-end">
			<ul class="nav_items">
				<li>@Html.ActionLink(MACARENA.Resources.lang.HomePage, "Index", "Home")</li>
				<li>@Html.ActionLink(MACARENA.Resources.lang.Tourism, "Turizim", "Home")</li>
				<li>@Html.ActionLink(MACARENA.Resources.lang.About, "About", "Home")</li>
				@if (Request.IsAuthenticated)
				{
					// Role Admin ise menüler gözüküyor //
					if (User.IsInRole("Admin"))
					{
						<li>@Html.ActionLink(MACARENA.Resources.lang.Admin, "Index", "Admin")</li>

					}
					else
					{
						// Role Admin değil ise bu menüler gözüküyor //
						<li>@Html.ActionLink("User", "Index", "Admin")</li>
					}

				}
				<li class=" dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu">
						<li>@Html.ActionLink(MACARENA.Resources.lang.Register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
						<li>@Html.ActionLink(MACARENA.Resources.lang.Login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
					</ul>
				</li>
			
						<li class="dropdown">
							@if (HttpContext.Current.Session["Culture"].ToString() == "en")
							{
								<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">EN <span class="caret"></span></button>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
									<li>@Html.ActionLink("TR", "ChangeCulture", "Home", new { lang = "tr", returnurl = this.Request.RawUrl }, null)</li>
								</ul>
							}
							else
							{
								<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">EN <span class="caret"></span></button>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
									<li>@Html.ActionLink("TR", "ChangeCulture", "Home", new { lang = "tr", returnurl = this.Request.RawUrl }, null)</li>
								</ul>
							}
						</li>
					
				
			
			</ul>
			@Html.Partial("_LoginPartial")
		</nav>

		<!-- Hamburger -->
		<div class="hamburger_container">
			<span class="hamburger_text">Menü</span>
			<span class="hamburger_icon"></span>
		</div>


	</header>
	<!-- Menu -->

	<div class="fs_menu_overlay"></div>
	<div class="fs_menu_container">
		<div class="fs_menu_shapes"><img src="Content/images/menu_shapes.png" alt=""></div>
		<nav class="fs_menu_nav">
			<ul class="fs_menu_list">
				<li><a href="/"><span><span>A</span>Ana Sayfa</span></a></li>
				<li><a href="turizm"><span><span>T</span>Turizim</span></a></li>
				<li><a href="about"><span><span>S</span>Hakkımızda</span></a></li>
				<li><a href="logIn"><span><span>K</span>Kullanıcı Giriş</span></a></li>
			</ul>
		</nav>
		<div class="fs_social_container d-flex flex-row justify-content-end align-items-center">
			<ul class="fs_social" style="color:  #007bff">
				<li><a href="#"><i class="fab fa-pinterest trans_300"></i></a></li>
				<li><a href="#"><i class="fab fa-facebook-f trans_300"></i></a></li>
				<li><a href="#"><i class="fab fa-twitter trans_300"></i></a></li>
				<li><a href="#"><i class="fab fa-dribbble trans_300"></i></a></li>
				<li><a href="#"><i class="fab fa-behance trans_300"></i></a></li>
				<li><a href="#"><i class="fab fa-linkedin-in trans_300"></i></a></li>
			</ul>
		</div>
	</div>


