@model IEnumerable<MACARENA.Models.Room>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoomId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BedSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RoomId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BedSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RoomName }) |
            @Html.ActionLink("Details", "Details", new { id=item.RoomName }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RoomName })
        </td>
    </tr>
}

</table>
